<html>
<head>

<title>
</title/>
<body> 

<style>


h3{
   color: coral;
   border:4px Doctec#000;

   background-color:aqua;
   }
<style/ >
</head >


<h3 Sitemizin Başlığı </h3 >


<p > Evet faydalı oluyor </p >

<p > Css inanılmaz tasarımlar </p>

</body >

</html >